lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

node_modules/*

*.db
client_db*

aws/*.pem
aws/*.*

server/dump/*

client/CONFIG.js

server/mongodb_export/*.json
*.json
*.pyc

dbs/*